<?php

return [
    'CODEBASE_USER'     => '',
    'CODEBASE_TOKEN'    => '',
    'CODEBASE_BASE_URL' => 'https://api3.codebasehq.com',
    'BACKUP_DIR'        => '',
    // optional if you want to use a specific git version
    'GIT_BIN'           => '',
];
